@import 'root.scss';
#homepage-auth {
  display: flex;
  justify-content: center;

  // *** Main Box
  main {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;

    // *** Text editing
    .title {
      font: 400 4rem 'Poppins', sans-serif;
    }

    // *** Main text - Logo
    h1 {
      // First color Logo
      color: hsl($hue_color, 75%, 37%);

      // Second color Logo
      span {
        color: hsl($hue_color, 94%, 66%);
      }
    }

    // *** Subtitle text
    p {
      font: 400 1.5rem 'Poppins', sans-serif;
      margin-bottom: 8rem;
    }

    // *** Login Button
    button {
      height: 3rem;
      padding: 0 2rem;
      border: 0;
      border-radius: 0.5rem;

      background: hsl($hue_color, 64%, 59%);
      color: hsl($hue_color, 0%, 100%);

      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      transition: 0.2s;
      img {
        margin-right: 0.5rem;
      }
    }

    button:hover {
      opacity: 0.7;
    }
  }
  footer {
    position: absolute;
    width: 100vw;
    text-align: right;
    bottom: 0;
    right: 0;
    padding: 1rem 1rem;
    background: hsla($hue_color, 94%, 66%, 0.5);

    .createdby {
      position: relative;
      font: 400 1rem 'Poppins', sans-serif;
      bottom: 0;
      color: hsl($hue_color, 0%, 30%);
    }
  }
}
